# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# VS Code settings
.vscode/

# OS specific
.DS_Store
Thumbs.db

# Logs
*.log

# api key file
.env

# My Notes
Notes.txt

# Fiass Store
data/vector_store/
*.index
*.pkl